*{
    box-sizing: border-box;
}
body{
    background-color: gold;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    background-color: aliceblue;
    align-items: center;
    padding: 24px;
    width: 384px;
    border-radius:20px ;
    box-shadow: 8px 8px 8px black;
}

a{
    background-color: goldenrod;
    border-radius: 4px;
    padding: 8px;
    
}
img{
    padding: 10px;
    border-radius: 20px;
}

li{
    list-style-type: none;

}
